/* //////////////Materialize Normalizers/////////////*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body{
  width: 100vw;
}

html{
  scroll-behavior: smooth;
  height: 4450px;
  line-height: 0;
}

h1, h2, p{
  line-height: initial;
}
/* ////////////Hidden Classes///////////////////// */

.hidden_bottom{
  text-align: center;
  position: absolute;
  overflow: hidden;
  top: 4850px;
  left: 5vw;
  padding: 15%;
  width: 90%;
  background-color: white;
  transition: top .5s ease-in-out;
} 

.hidden_left{
  left: -100vw;
  position: absolute;
  top: 1900px;
  width: 50%;
  font-size: 1.4em;
  color: #EEF4F2;
  transition: left .8s ease-in-out;
}

.hidden_right{
  position: absolute;
  top: 2000px;
  right: -100vw;
  transition: right .8s ease-in-out;
}

/* //////////////Header///////////////// */

.landing{
  background-image: url('../images/IMG_6979.jpg');
  background-color: #cccccc;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing_text{
  text-align: center;
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
}

.landing_text h1{
  position: absolute;
  font-size: 2.2em;
  top: 34%;
  left: 35%;
}

.landing_text h2{
  position: absolute;
  top: 37%;
  left: 40%;
  font-size: 1.4em;
  color: #233656;
}

#myCanvas{
  position: absolute;
  right: 15%;
  top: 15%;
  color: white;
}

#me{
  position: absolute;
  height: 250px;
  left: 15%;
  top: 30%;
  border: 5px solid rgba(108, 122, 137, 1);
  border-radius: 20px;
  
}

.fa-angle-down{
  position: absolute;
  left: 50%;
  bottom: 5%;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce{
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(0, 50px, 0); }
}

/* ///////////////////NAV/////////////////////// */

li, a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 10px 0; 
}
.abouttag{
  color: #243552 !important;
}

.navbar1{
  position:absolute;
  top: 700px;
  width:100%;
  height: 40px;
  background-color: rgba(0, 0, 0, .4);
  z-index: 20;
  line-height: 60px;
  box-shadow: none;
}

.navbar1 a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 10px 8vw 7px 8vw;
  line-height: 1em;
  height: 40px;
  border-radius: 8px 8px 0 0;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-fixed{
  display: none;
}

.dropdown-content li a{
  color: #3F5C7D;
}

/* ///////////////ABOUT//////////////// */

.about{
  position: absolute;
  top: 1900px;
  width: 50%;
  left: 10%;
  font-size: 1.4em;
  color: #3F5C7D;
  transition: left .8s ease-in-out;
  overflow: hidden;
}

.me2{
  position: absolute;
  top: 2000px;
  right: 10%;
  transition: right .8s ease-in-out;
  border: 5px solid rgba(108, 122, 137, 1);
  border-radius: 20px;
  
}

/* /////////Projects////////// */

.carousel.carousel-slider{
  top: 180px;
}

.carousel .indicators .indicator-item{
  width: 20px;
}

#gallery{
  display: flex;
  width: 70%;
  margin: 0 auto;
}

#gallery img{
  position: relative;
  top: 250px;
  width: 85%;
  margin: 6%;
  border-radius: 10px;
  box-shadow: 12px 12px 19px rgba(0,0,0,0.2);
}

/* ////////////////Testimonials///////////// */
.testies{
  position: absolute;
  top: 2800px;
  left: 10vw;
  width: 80vw;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #DBE1E7;
}

.collapsible-header{
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  color: black;
}

.row{
  color: black;
}


/* /////////////////Contact//////////////// */

.contact{
  position: absolute;
  top: 3650px;
  left: 5vw;
  padding: 15%;
  width: 90%;
  background-color: white;
  transition: top .5s ease-in-out;
  transition-delay: .2s;
  text-align: center;
  box-shadow: 12px 12px 19px rgba(0,0,0,0.2);
  border-radius: 10px;
} 

.contact h2{
  margin: -120px 0 60px 0;
  font-family: 'Nunito Sans', sans-serif;
  color: #3F5C7D
}

#social{
  margin: 40px 0 -100px 0;
}

/* ///////////background colors/////////////// */

.fifth-color{
  background-color: #233656;
  transition: background-color 0.5s ease-in-out;  
}

.fourth-color{
  background-color: #3F5C7D;
  transition: background-color 0.5s ease-in-out;
}

.third-color{
  background-color: #DBE1E7;
  transition: background-color 0.5s ease-in-out;
}

.second-color{
  background-color: #243552;
  transition: background-color 0.5s ease-in-out;
}

.first-color{
  background-color: #333335;
  transition: background-color 0.5s ease-in-out;
}


/* ////////////Dropdown media queries//////////// */

@media only screen and (min-width: 1650px){
  .about{
    position: absolute;
    top: 1950px;
  }
}

@media only screen and (max-width: 1365px){
  .navbar1 a{
    padding: 10px 7vw;
  }

  .landing_text h1{
    position: absolute;
    font-size: 2.2em;
    top: 8%;
    left: 30%;
  }

  .landing_text h2{
    position: absolute;
    top: 12%;
    left: 40%;
    font-size: 1.4em;
    color: #233656
  }
  
  #myCanvas{
    position: absolute;
    right: 12%;
    top: 24%;
    color: white;
  }
  
  #me{
    position: absolute;
    height: 250px;
    left: 12%;
    top: 30%;
    border: 5px solid rgba(108, 122, 137, 1);
    border-radius: 20px;
  }

  .about{
    position: absolute;
    top: 1800px;
    width: 50%;
    left: 8%;
    font-size: 1.4em;
    color: #3F5C7D;
    transition: left .8s ease-in-out;
    overflow: hidden;
  }
  
  .me2{
    position: absolute;
    top: 1900px;
    right: 8%;
    transition: right .8s ease-in-out;
    border: 5px solid rgba(108, 122, 137, 1);
    border-radius: 20px; 
  }
}

@media only screen and (max-width: 920px){
  .navbar1{
    display: none;
  }

  .navbar-fixed{
    display: inherit;
    height: 0;
  }

  .navbarmobile{
    height: 50px;
    padding: 10px;
  }

  .btn{
    font-size: 2em;
  }

  .landing_text h1{
    position: absolute;
    font-size: 2.2em;
    top: 8%;
    left: 30%;
  }

  .landing_text h2{
    position: absolute;
    top: 12%;
    left: 40%;
    font-size: 1.4em;
    color: #233656
  }

  #myCanvas{
    position: absolute;
    right: 5%;
    top: 24%;
    color: white;
  }
  
  #me{
    position: absolute;
    height: 250px;
    left: 8%;
    top: 30%;
    border: 5px solid rgba(108, 122, 137, 1);
    border-radius: 20px;
  }
  
  .about{
    position: absolute;
    top: 1500px;
    width: 80%;
    left: 10%;
    font-size: 1.4em;
    color: #3F5C7D;
    transition: left .8s ease-in-out;
    overflow: hidden;
  }
  
  .me2{
    position: absolute;
    top: 1950px;
    right: 32%;
    transition: right .8s ease-in-out;
    border: 5px solid rgba(108, 122, 137, 1);
    border-radius: 20px;
  }

  #gallery{
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  
  #gallery img{
    position: relative;
    top: 250px;
    width: 85%;
    margin: 6%;
    border-radius: 10px;
    box-shadow: 12px 12px 19px rgba(0,0,0,0.2);
  }

  .contact h2{
    margin: -100px 0 20px 0;
  }
}

@media only screen and (max-width: 660px){
  .me2{
    top: 2050px;
    right: 28%;
  }

  #myCanvas{
    position: absolute;
    right: 2%;
    top: 24%;
    color: white;
  }
  
  #me{
    position: absolute;
    height: 250px;
    left: 2%;
    top: 30%;
    border: 5px solid rgba(108, 122, 137, 1);
    border-radius: 20px;
    z-index: 101;
  }
}

@media only screen and (max-width: 550px){
  .me2{
    top: 2080px;
    right: 24%;
  }

  .contact h2{
    margin: -80px 0 20px 0;
  }
}

@media only screen and (max-width: 480px){
  
  #myCanvas{
    position: absolute;
    right: 10%;
    top: 44%;
    color: white;
  }
  
  #me{
    position: absolute;
    height: 250px;
    left: 22%;
    top: 22%;
    border: 5px solid rgba(108, 122, 137, 1);
    border-radius: 20px;
    z-index: 101;
  }

  .me2{
    top: 2180px;
    right: 20%;
  }

  .contact h2{
    margin: -60px 0 20px 0;
  }
}

